@using TechJobs6Persistent.ViewModels
@model AddJobViewModel;


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        @* <input asp-for="Employers" class="form-control"/> *@
        <select asp-for="EmployerId" class="form-control" asp-items="Model.Employers"></select>
        <p>Not finding the right employer to choose from? 
            <a asp-controller="Employer" asp-action="ProcessCreateEmployerForm">Add employers!</a>
        </p>
        @* <span></span> *@
    </div>
    <br />

    <input type="submit" value="Add Job" />
</form>